* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    width: 100%;
    height: 100vh;
    font-family: Quicksand;
}

header {
    height: 97px;
    width: 100%;
    padding-inline: 30px;
    border: 1px solid #ECEDED;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.searchArea, 
.dateArea {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    gap: 40px;
}

.searchArea a span:nth-child(1) {
    color: #3d8493;
    font-size: 45px;
    font-weight: 700;
}

.searchArea a span:nth-child(2) {
    color: #d89f65;
    font-size: 45px;
    font-weight: 700;
}

.searchArea a span:nth-child(3) {
    color: #4a5c2f;
    font-size: 45px;
    font-weight: 700;
}

.searchArea textarea {
    all: unset;
    width: 357px;
    background: #ecf3f5;
    border-radius: 6px;
    font-size: 15px;
    color: #89928e;
    padding-top: 16px;
    padding-left: 20px;
    transition: 0.5s;
}

.searchArea textarea:hover {
    box-shadow: 2px 2px 2px #b1ced4;
}

.dateArea {
    justify-content: flex-end;
}

.dataInfo {
    display: flex;
    align-items: baseline;
    gap: 4px;
}

.dataInfo p {
    font-size: 15px;
    transition: 0.5s;
}

.dataInfo p:hover {
    font-size: 20px;
    font-weight: 800;
    color: #b1ced4;
}

.dateArea button {
    width: 175px;
    height: 58px;
    background: #b1ced4;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    color: #2c3832;
    cursor: pointer;
    transition: 0.5s;
}

.dateArea button:hover {
    background: #2c3832;
    color: #b1ced4;
}

main {
    margin-top: 97px;
    min-height: calc(100vh - 250px);
    width: 100%;
    padding: 40px 0 40px 140px;
}

section {
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: 203px;
    height: 214px;
    background: #d8e6e9;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
}

.card img {
    width: 100%;
    height: 143px;
    object-fit: cover;
    cursor: pointer;
}

.additionalInfo {
    width: 100%;
    height: 71px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    gap: 10px;
}

.additionalInfo span {
    font-size: 17px;
}

.spices {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 10px;
}

.spices p {
    font-size: 12px;
}

.chilli {
    display: flex;
    gap: 10px;
}

.chilli span {
    width: 16px;
    height: 16px;
    font-size: 14px;
    color: #ffffff;
    background: #E0B284;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chilli .badge {
    background-color: #ffffff;
    padding: 2px 8px;
    border-radius: 999px;
    color: #000000;
    font-size: 13px;
    font-weight: bold;
}

.chilli img {
    width: 20px;
    height: 17px;
}

.card:active {
    transform: translateY(6px);
    box-shadow: 0 5px 10px #3d8493;
}

footer {
    width: 949px;
    height: 106px;
    position: fixed;
    top: 759px;
    left: 115px;
    background: #EAF0F0;
    display: flex;
    align-items: center;
    z-index: 1000;
    border-radius: 0px;
}

footer ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 100px;
    gap: 30px;
}

footer ul li {
    width: 180px;
    height: 65px;
    background: #EAF0F0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    transition: 0.3s ease;
    cursor: pointer;
}

footer ul li a {
    color: #a9a9a9;
    font-weight: bold;
    font-size: 16px;
}

footer ul li.active, 
footer ul li.starter {
    background: #4a5c2f;
}

footer ul li.active a, 
footer ul li.starter a {
    color: #ffffff;
}

footer ul li:hover {
    transform: translateY(-50px);
    opacity: 0.9;
    box-shadow: 0 5px 10px #3d8493;
}